In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
np.random.seed(101)

In [6]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [9]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [11]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [14]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [16]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [22]:
df['New']=df['Z']+df['Y']

In [24]:
df

          W         X         Y         Z       New
A  0.302665  1.693723 -1.706086 -1.159119 -2.865205
B -0.134841  0.390528  0.166905  0.184502  0.351406
C  0.807706  0.072960  0.638787  0.329646  0.968433
D -0.497104 -0.754070 -0.943406  0.484752 -0.458655
E -0.116773  1.901755  0.238127  1.996652  2.234779

In [33]:
df.drop('New',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [35]:
df

          W         X         Y         Z       New
A  0.302665  1.693723 -1.706086 -1.159119 -2.865205
B -0.134841  0.390528  0.166905  0.184502  0.351406
C  0.807706  0.072960  0.638787  0.329646  0.968433
D -0.497104 -0.754070 -0.943406  0.484752 -0.458655
E -0.116773  1.901755  0.238127  1.996652  2.234779

In [40]:
df.drop('', axis=1)

KeyError: "['New'] not found in axis"

In [42]:
df.drop('E')

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [44]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [46]:
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [48]:
df.iloc[1]

W   -0.134841
X    0.390528
Y    0.166905
Z    0.184502
Name: B, dtype: float64

In [50]:
df.loc['B','Y']

0.16690463609281317

In [51]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905